In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import os
from matplotlib.patches import Patch
import seaborn as sns

---

# DATA PROCESS

---

**DATASET 1:  "Población de 16 años y más por titulación académica y lugar de
nacimiento" (1997-2025)**

We used the first dataset to obtain information about the educational level of the population in the different neighborhoods and districts of Barcelona.

In [ ]:
# We put all datasets on a list
all_files=[]
for year in range(1997,2026): # 1997-2025
    all_files.append(f'../data/{year}_education_level.csv')
'../data/birthPlace_spain_v_outside/'
# We read all datasets and prepare them
df_list=[]
for file in all_files:

    df=pd.read_csv(file, sep=',')

    # We delete the '..' from the column 'Value'
    df['Value']=pd.to_numeric(df['Value'], errors='coerce') # We change '..' to NaN
    df=df.dropna(subset=['Value']) # We delete the NaN
    
    df_list.append(df)

# We combine all dataframes in one
education_df=pd.concat(df_list, ignore_index=True)

# We save the clean dataset
education_df.to_csv('education_1997-2025.csv', index=False, encoding='utf-8')
education_df

,Year_Reference,District,Neighborhood,Value,Education_Level,Birth_Place
0,1997,Ciutat Vella,el Raval,2369.0,Less than primary education,City of Barcelona
1,1997,Ciutat Vella,el Raval,601.0,Less than primary education,Rest of Catalonia
2,1997,Ciutat Vella,el Raval,4241.0,Less than primary education,Rest of Spain
3,1997,Ciutat Vella,el Raval,57.0,Less than primary education,Rest of European Union
4,1997,Ciutat Vella,el Raval,540.0,Less than primary education,Rest of World
...,...,...,...,...,...,...
59760,2025,Sant Martí,la Verneda i la Pau,550.0,Tertiary education,Rest of Spain
59761,2025,Sant Martí,la Verneda i la Pau,269.0,Tertiary education,Rest of European Union
59762,2025,Sant Martí,la Verneda i la Pau,2222.0,Tertiary education,Rest of World
59763,2025,Sant Martí,la Verneda i la Pau,31.0,Not available,City of Barcelona
59764,2025,Sant Martí,la Verneda i la Pau,8.0,Not available,Rest of World